<table>
  <tbody>
    <tr>
      <td><h2>Thank you for your purchase at Bike Berlin</h2></td>
    </tr>
    <tr>
      <td><h4>These are the details of your purchase:</h4></td>
    </tr>
    <tr>
      <td><p>Name: <% @product.name %></p></td>
    </tr>
    <tr>
      <td><p>Price: <% @product.price %></p></td>
    </tr>
  </tbody>
</table>