/* line 5, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/comments.scss */
.rated {
  margin-left: 33px;
}

/* line 9, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/comments.scss */
#form-comment h2 {
  margin-left: 33px;
}

/* line 13, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/comments.scss */
.rating {
  margin-left: 33px;
}

/* line 17, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/comments.scss */
.product-reviews {
  margin-left: 33px;
}
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 6, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.product {
  padding-top: 5em;
}

/* line 11, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
img.detail {
  width: 100%;
}

/* line 15, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.grid-description-detail {
  padding-left: 15px;
}

/* line 19, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.description-detail {
  background: #F8F8F8;
  padding: 5%;
}

/* line 24, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.description-detail h3,
.description-detail h5,
.description-detail p {
  font-family: Futura, sans-serif;
  color: #333;
  text-align: center;
}

/* line 32, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.description-detail h3 {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 40px;
}

/* line 38, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.description-detail h5 {
  margin: 0px;
}

/* line 42, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.description-detail p {
  text-align: left;
  color: #737373;
}

/* line 47, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.thumbnail p {
  margin: 10px;
}

/* line 51, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.container-rating {
  text-align: center;
}

/* line 55, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/products.scss */
.container-rating p {
  margin: 10px;
}
/* line 1, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 5, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
* {
  margin: 0;
}

/* line 9, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
html, body {
  height: 100%;
}

/* line 13, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
.page-wrap {
  min-height: 100%;
  margin-bottom: -75px;
}

/* line 18, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
h1, h2, h3, h4 {
  font-family: Futura, sans-serif;
  color: #333;
  display: block;
}

/* line 25, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
.navbar-default {
  margin: -33px -33px 0;
  font-family: Futura, sans-serif;
  text-transform: uppercase;
}

/* line 32, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
.carousel-caption h1, h3 {
  color: #fff;
}

/* line 37, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
.jumbotron-contact {
  padding: 48px 60px 48px 60px;
}

/* line 41, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
#contact-background {
  margin-left: -33px;
  margin-right: -33px;
}

/* line 48, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
#footer {
  height: 75px;
  margin-right: -33px;
  margin-left: -33px;
  background: #f8f8f8;
  border-color: #e7e7e7;
}

/* line 56, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
.footer-element {
  font-family: Futura, sans-serif;
  text-align: center;
}

/* line 62, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
.carousel {
  margin-right: -33px;
  margin-left: -33px;
  overflow: hidden;
}

/* line 68, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
.carousel-inner img {
  display: block;
  margin: auto;
  min-height: 100%;
}

/* line 74, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
.carousel-caption {
  padding-bottom: 21%;
  font-size: 30px;
  text-shadow: none;
}

/* line 80, /Users/Fanny/Desktop/firstapp/app/assets/stylesheets/static_pages.scss */
.header-caption {
  padding: 25px;
  background-color: rgba(52, 122, 183, 0.72);
  display: inline-block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 /*** devise ***/

 
 .devise {
  background-color: white;
  height: 100vh;
}

.form-container-devise {
  background-color: #eee;
  padding: 60px;
}

.form-container-devise input {
  width: 100%;
  border-color: black;
  background-color: #eee;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  color: black;
}

.form-container-devise label, 
.form-container-devise em,
.form-container-devise p {
  display: inline-block;
  color: black;
}

.form-container-devise i {
  color: black;
}

.form-container-devise h2, 
.form-container-devise h3 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 0px;
  color: black;
}

.form-container-devise h3 {
  margin-top: 2em;
  margin-bottom: 10px;
}

.form-container-devise span {
  display: inline-block;
  color: black;
  width: 100%;
  text-align: center;
}

.form-container-devise .field {
  margin-bottom: 15px;
}

.form-container-devise input.btn-form-devise {
  background-color: #337ab7;
  color: #fff;
  padding: 1em;
  border-style: none;
  margin-top: 10px;
}
