// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -75px;
}

h1, h2, h3, h4 {
  font-family: Futura, sans-serif;
  color: #333;
  display: block;
}

// navbar
.navbar-default {
  margin: -33px -33px 0;
  font-family: Futura, sans-serif;
  text-transform: uppercase;
}


// landing page
.carousel {
  margin-right: -33px;
  margin-left: - 33px;
  overflow:hidden;
}

.carousel-inner img {
  display: block;
  margin: auto;
  min-height: 100%;
}

.carousel-caption {
  padding-bottom: 21%;
  font-size: 30px;
  text-shadow: none;
}

.carousel-caption h1, h3 {
  color: #fff;
}

.header-caption {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.74);
  display: inline-block;
}

//contact page
.jumbotron-contact {
  padding: 48px 60px 48px 60px;
}

#contact-background {
  margin-left: -33px;
  margin-right: -33px;
}

// about section
#about-detail{
  text-align: center;
}

// footer

.footer-element {
  font-family: Futura, sans-serif;
  text-align: center;
  padding: 10px;
}