// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -75px;
}

h1 {
  font-family: Futura, sans-serif;
  color: blue;
  text-alignment: left;
}

.navbar-default {
  font-family: Futura, sans-serif;
  text-transform: uppercase;
}

#footer {
  height: 75px;
  background: blue;
}

.footer-element {
  color: white;
  float: right;
  font-family: Futura, sans-serif;
}