<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-10 col-xs-10">
      <h1>Our Products</h1>
    </div>
    <% cache(cache_key_for_products) do %>
    <%= render @products %>
    <% end %>
  </div><!-- /row -->
  <br>
    <span class="btn-create"><%= link_to 'NEW PRODUCT', new_product_path %></span>
</div><!-- /container -->
<br>